---
import Layout from '../layouts/Layout.astro';
import HomeHogar from '../components/PagesTsx/HomeHogar';
---

<Layout title="Planes Hogar Claro">
	<main>
		<HomeHogar client:only="react"/>
	</main>
</Layout>

<style>
    @import url('https://fonts.cdnfonts.com/css/din-alternate');            
	*{
		margin: 0;
		padding: 0;
		border: 0;
		font-family: 'DIN Alternate', sans-serif;
                                                
	}


</style>